<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>
    <title>ДостоREAD - панель пользователя</title>
</head>
<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<h1 class="app-title">Продолжить чтение</h1>

<div class="app-book-grid" id="results">
    <div th:each="card : ${pageData.cards}">
        <div class="app-book-card" style="width: 18rem; height: 430px;">
            <img th:src="${card.coverUrl}" class="app-book-cover" style="width: 150px; height: 250px; margin: 5px auto"
                 alt="изображение книги">
            <div class="mt-2 flex flex-1 flex-col">
                <h5 class="app-card-title" th:text="${card.title}"></h5>
                <p class="text-white/90" th:text="${card.author}"></p>
                <a th:id="${card.id}" class="app-button-light" th:href="@{~/book-info(id=${card.id})}">Подробнее</a>
            </div>
        </div>
    </div>
</div>

<div th:if="${!pageData.hasElements()}">
    <p class="text-center text-brand-700">Начатых книг не найдено</p>
</div>

<nav th:if="${pageData.hasElements()}">
    <ul class="app-pagination">
        <li th:each="i : ${#numbers.sequence(0, pageData.totalPages - 1)}" class="">
            <a th:href="@{/user-panel(page=${i})}"
               th:class="${i == pageData.currentPage} ? 'app-page-link-active' : 'app-page-link'"
               th:text="${i + 1}">
            </a>
        </li>
    </ul>
</nav>

<div th:replace="~{components/footer :: footer}"></div>

</body>
</html>