<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>

    <title>ДостоREAD - панель администратора</title>
</head>

<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<section class="container">
    <h1 class="h1 text-center text-primary my-5">Панель администратора</h1>

    <div class="list-group pb-5">
        <p class="text-start text-primary fs-5">Администрирование учетных записей</p>
        <a th:href="@{~/admin-panel/accounts/view}" class="list-group-item list-group-item-action">Учетные записи</a>
    </div>
    <div class="list-group pb-5">
        <p class="text-start text-primary fs-5">Работа с книгами</p>
        <a th:href="@{~/admin-panel/books/view}" class="list-group-item list-group-item-action">Просмотр и изменение книг</a>
        <a th:href="@{~/admin-panel/books/create}" class="list-group-item list-group-item-action">Добавить книгу</a>
    </div>
</section>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>