<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>

    <title>ДостоREAD - добавление администратора</title>
</head>
<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<section class="app-container">
    <h1 class="app-title">Добавление администратора</h1>
    <form class="needs-validation bg-brand-700" action="#" th:action="@{/admin-panel/accounts/create}" th:object="${userCreateDTO}"
          method="post" novalidate>
        <div class="mb-4 pt-4 mx-4">
            <label for="username" class="text-white">Имя администратора</label>
            <input th:field="*{username}" type="text" class="app-input" id="username">
            <div th:if="${#fields.hasErrors('username')}">
                <p th:each="err : ${#fields.errors('username')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-4 pt-4 mx-4">
            <label for="password" class="app-label-inverse text-white">Пароль <br>(Пароль должен содержать минимум 1 заглавную латинскую букву, минимум 1 строчную латинскую букву, минимум 1 специальный символ и минимум 1 цифру, длина пароля от 8 до 14 символов)</label>
            <input th:field="*{rawPassword}" type="password" class="app-input" id="password">
            <div th:if="${#fields.hasErrors('rawPassword')}">
                <p th:each="err : ${#fields.errors('rawPassword')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-4 mx-4">
            <div class="flex items-start">
                <img th:src="@{/assets/show.png}" alt="изображение показать пароль" id="show_hide_password" class=" mx-0 hide" style="width: 30px; height: 30px;">
                <p class="text-white ml-3">Показать пароль</p>
            </div>
        </div>
        <div class="mx-auto flex max-w-md justify-center">
            <button type="submit" class="app-button-light my-4">Создать</button>
        </div>
    </form>
</section>

<div th:replace="~{components/footer :: footer}"></div>

<script th:src="@{~/scripts/toggleVisibilityPassword.js}"></script>

</body>
</html>
