<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>

  <title>ДостоREAD - подтверждение почты</title>
</head>

<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<h1 class="app-title">Подтверждение электронной почты</h1>
<p class="text-center text-brand-700 my-10">На указанный адрес электронной почты отправлено уведомление с кодом
  подтверждения</p>

<form class="bg-brand-700 mx-auto w-full max-w-3xl rounded-lg" novalidate method="post" th:action="@{/password-recovery/email-confirmation}" th:object="${confirmationCodeDto}">
  <div class="mb-4 pt-4 mx-4">
    <label for="code" class="app-label-inverse text-white">Код подтверждения</label>
    <input type="text" name="code" id="code" class="app-input" th:field="*{enteredCode}"
           th:value="*{enteredCode}">
    <div th:if="${#fields.hasErrors('enteredCode')}">
      <p th:each="err : ${#fields.errors('enteredCode')}" th:text="${err}" class="text-red-600 pt-4"></p>
    </div>
  </div>
  <div class="pb-4 mx-auto flex max-w-xs justify-center">
    <button class="app-button-light" type="submit">Подтвердить</button>
  </div>
</form>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>