<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>

    <title>ДостоREAD - добавление книги</title>
</head>
<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<section class="app-container">
    <h1 class="app-title">Добавление книги</h1>
    <form class="needs-validation" action="#" th:action="@{/admin-panel/books/create}" th:object="${bookDto}"
          method="post" enctype="multipart/form-data" novalidate>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="text-red-600 pt-4 text-center"></p>
        </div>
        <div class="mb-5">
            <label for="title" class="text-brand-700">Название</label>
            <input th:field="*{title}" th:value="*{title}" type="text" class="app-input" id="title">
            <div th:if="${#fields.hasErrors('title')}">
                <p th:each="err : ${#fields.errors('title')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="author" class="text-brand-700">Автор</label>
            <input th:field="*{author}" th:value="*{author}" type="text" class="app-input" id="author"
                   required>
            <div th:if="${#fields.hasErrors('author')}">
                <p th:each="err : ${#fields.errors('author')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5" data-checkbox-group="selectedGenreIds">
            <p class="text-start text-brand-700">Жанры</p>
            <div class="inline-flex items-center gap-2 pb-4 mr-4" th:each="genre : ${genresNames}">
                <input type="checkbox" class="app-checkbox" th:id="${'checkbox' + genre}" th:value="${genre}"
                       th:field="*{genresList}">
                <label class="ml-2 text-brand-700" th:for="${'checkbox' + genre}" th:text="${genre}"></label>
            </div>
            <div th:if="${#fields.hasErrors('genresList')}">
                <p th:each="err : ${#fields.errors('genresList')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <p class="text-start text-brand-700">Файл книги (формат EPUB)</p>
            <label for="bookFile" class="text-brand-700 book-file">Выбрать файл</label>
            <p class="md:inline text-brand-700" id="upload-book-text"></p>
            <input type="file" id="bookFile" name="bookFile" class="app-input-file" th:field="*{bookFile}" th:value="*{bookFile}" accept=".epub"
                   style="display: none;">
            <div th:if="${#fields.hasErrors('bookFile')}">
                <p th:each="err : ${#fields.errors('bookFile')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <p class="text-start text-brand-700">Обложка книги (форматы png, jpg, jpeg)</p>
            <label for="bookCover" class="text-brand-700 book-cover">Выбрать файл</label>
            <p class="md:inline text-brand-700" id="upload-cover-text"></p>
            <input type="file" id="bookCover" name="bookCover" class="app-input-file" th:field="*{coverFile}" th:value="*{coverFile}" accept=".png,.jpg,.jpeg"
                   style="display: none;">
            <div th:if="${#fields.hasErrors('coverFile')}">
                <p th:each="err : ${#fields.errors('coverFile')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="description" class="text-brand-700">Описание книги</label>
            <textarea th:field="*{description}" class="app-input" id="description" rows="3"></textarea>
            <div th:if="${#fields.hasErrors('description')}">
                <p th:each="err : ${#fields.errors('description')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="ageRestriction" class="text-brand-700">Возрастное ограничение</label>
            <select th:field="*{ageRestriction}" id="ageRestriction" class="app-input">
                <option th:each="restriction : ${T(com.example.demo.domain.book.valueobject.AgeRestriction).values()}"
                        th:value="${restriction.name()}"
                        th:text="${restriction.code}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('ageRestriction')}">
                <p th:each="err : ${#fields.errors('ageRestriction')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="license" class="text-brand-700">Лицензия</label>
            <input th:field="*{license}" type="text" class="app-input" id="license">
            <div th:if="${#fields.hasErrors('license')}">
                <p th:each="err : ${#fields.errors('license')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="publisher" class="text-brand-700">Издательство</label>
            <input th:field="*{publisher}" type="text" class="app-input" id="publisher">
            <div th:if="${#fields.hasErrors('publisher')}">
                <p th:each="err : ${#fields.errors('publisher')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="publishedDate" class="text-brand-700">Дата публикования</label>
            <input th:field="*{publishDate}" type="date" class="app-input" id="publishedDate">
            <div th:if="${#fields.hasErrors('publishDate')}">
                <p th:each="err : ${#fields.errors('publishDate')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mb-5">
            <label for="pageCount" class="text-brand-700">Количество страниц</label>
            <input th:field="*{pageCount}" type="number" class="app-input" id="pageCount">
            <div th:if="${#fields.hasErrors('pageCount')}">
                <p th:each="err : ${#fields.errors('pageCount')}" th:text="${err}" class="text-red-600 pt-4"></p>
            </div>
        </div>
        <div class="mx-auto flex max-w-md justify-center">
            <button type="submit" class="app-button my-10">Добавить</button>
        </div>
    </form>
</section>

<div th:replace="~{components/footer :: footer}"></div>







<script th:src="@{~/scripts/uploadFile.js}"></script>

</body>
</html>
