<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>

    <title>ДостоREAD - изменение книги</title>
</head>
<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<section class="app-container">
    <h1 class="app-title">Изменение книги</h1>
    <button class="app-button w-full text-lg toggleVisibility">Показать текущие данные книги</button>
    <div class="old-book hide" style="display: none;" th:object="${book}">
        <p class="text-start text-brand-700 my-4" th:text="${'Название: ' + book.title()}"></p>
        <p class="text-start text-brand-700 my-4" th:text="${'Автор: ' + book.author()}"></p>
        <p class="text-start text-brand-700 my-4">Жанры</p>
        <div class="flex items-start">
            <p th:each="genre : ${book.genreNames()}" th:text="${genre}"
               class="bg-brand-50 border border-brand-700 mr-2 p-2 text-brand-700 rounded-lg"></p>
        </div>
        <a class="bg-brand-700 my-4 p-2 text-white rounded-lg no-underline"
           th:href="${book.bookUrl()}">Просмотреть книгу</a>
        <a class="bg-brand-700 my-4 p-2 text-white rounded-lg no-underline"
           th:href="${book.coverUrl()}">Просмотреть обложку книги</a>
        <p class="text-start text-brand-700 my-4" th:text="${'Описание книги: ' + book.description()}"></p>
        <p class="text-start text-brand-700 my-4" th:text="${'Возрастное ограничение: ' + book.ageRestrictionCode()}"></p>
        <p class="text-start text-brand-700 my-4" th:text="${'Лицензия: ' + book.license()}"></p>
        <p class="text-start text-brand-700 my-4" th:text="${'Издательство: ' + book.publisher()}"></p>
        <p class="text-start text-brand-700" th:text="${'Дата публикования: ' + book.publishDate()}"></p>
    </div>

</section>

<section class="app-container">
    <h3 class="my-8 text-center text-2xl font-semibold text-brand-700">Новые данные книги</h3>
    <p class="text-brand-700 mb-5 text-center">Если соответствующую информацию не нужно менять, оставьте поле для ввода
        пустым</p>
    <form class="needs-validation"  action="#" th:object="${bookDto}" th:action="@{/admin-panel/books/update(bookID=${targetId})}"
          method="post" enctype="multipart/form-data" novalidate>
        <div class="mb-5">
            <label for="title" class="text-brand-700">Название</label>
            <input type="text" class="app-input" id="title" th:field="*{title}">
        </div>
        <div class="mb-5">
            <label for="author" class="text-brand-700">Автор</label>
            <input type="text" class="app-input" id="author" th:field="*{author}">
        </div>
        <div class="mb-5" data-checkbox-group="selectedGenreIds">
            <p class="text-start text-brand-700">Жанры</p>
            <div class="inline-flex items-center gap-2 pb-4 mr-4" th:each="genre : ${genresNames}">
                <input type="checkbox" class="app-checkbox" th:id="${'checkbox' + genre}" th:value="${genre}"
                       th:field="*{genresList}">
                <label class="ml-2 text-brand-700" th:for="${'checkbox' + genre}" th:text="${genre}"></label>
            </div>
        </div>
        <div class="mb-5">
            <p class="text-start text-brand-700">Файл книги (формат EPUB)</p>
            <label for="bookFile" class="text-brand-700 book-file">Выбрать файл</label>
            <p class="md:inline text-brand-700" id="upload-book-text"></p>
            <input type="file" id="bookFile" name="bookFile" th:field="*{bookFile}" th:value="*{bookFile}" class="app-input-file" accept=".epub"
                   style="display: none;">
        </div>
        <div class="mb-5">
            <p class="text-start text-brand-700">Обложка книги (форматы png, jpg, jpeg)</p>
            <label for="bookCover" class="text-brand-700 book-cover">Выбрать файл</label>
            <p class="md:inline text-brand-700" id="upload-cover-text"></p>
            <input type="file" id="bookCover" name="bookCover" th:field="*{coverFile}" th:value="*{coverFile}" class="app-input-file" accept=".png,.jpg,.jpeg"
                   style="display: none;">
        </div>
        <div class="mb-5">
            <label for="description" class="text-brand-700">Описание книги</label>
            <textarea class="app-input" id="description" rows="3" th:field="*{description}"></textarea>
        </div>
        <div class="mb-5">
            <label for="ageRestriction" class="text-brand-700">Возрастное ограничение</label>
            <select id="ageRestriction" class="app-input" th:field="*{ageRestriction}">
                <option th:each="restriction : ${T(com.example.demo.domain.book.valueobject.AgeRestriction).values()}"
                        th:value="${restriction.name()}"
                        th:text="${restriction.code}">
                </option>
            </select>
        </div>
        <div class="mb-5">
            <label for="license" class="text-brand-700">Лицензия</label>
            <input type="text" class="app-input" id="license" th:field="*{license}">
        </div>
        <div class="mb-5">
            <label for="publisher" class="text-brand-700">Издательство</label>
            <input type="text" class="app-input" id="publisher" th:field="*{publisher}">
        </div>
        <div class="mb-5">
            <label for="publishedDate" class="text-brand-700">Дата публикования</label>
            <input type="date" class="app-input" id="publishedDate" th:field="*{publishDate}">
        </div>
        <div class="mb-5">
            <label for="pageCount" class="text-brand-700">Количество страниц</label>
            <input th:field="*{pageCount}" type="number" class="app-input" id="pageCount">
        </div>
        <div class="mx-auto flex max-w-md justify-center">
            <button type="submit" class="app-button my-10">Добавить</button>
        </div>
    </form>
</section>

<div th:replace="~{components/footer :: footer}"></div>







<script th:src="@{~/scripts/toggleVisibilityBookForm.js}"></script>
<script th:src="@{~/scripts/uploadFile.js}"></script>
</body>
</html>
