<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{components/metaHeader :: metaHeader}"></th:block>

    <title>ДостоREAD - панель админстратора - просмотр книг</title>
</head>
<body>

<div th:replace="~{components/navbar :: navbar}"></div>

<h1 class="app-title">Просмотр книг</h1>

<form action="#" method="get" th:action="@{/admin-panel/books/view}" class="mx-auto w-full max-w-3xl">
    <div class="grid gap-4 justify-center my-1">
        <div class="md:w-1/2">
            <div class="search-container">
                <input type="text" class="app-input search-input" id="search-input" name="searchQuery"
                       placeholder="Поиск..." th:value="${searchQuery}">
                <div class="flex items-center mx-auto max-w-md my-3">
                    <button class="app-button mx-1" type="submit">Найти</button>
                    <a th:href="@{/admin-panel/books/view(page=0)}" class="app-button-warning mx-1">Сбросить поиск</a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="app-book-grid" id="results">
    <div th:each="card : ${pageData.cards}">
        <div class="app-book-card" style="width: 18rem; height: 430px;">
            <img th:src="${card.coverUrl}" class="app-book-cover" style="width: 150px; height: 250px; margin: 5px auto"
                 alt="изображение книги">
            <div class="mt-2 flex flex-1 flex-col">
                <h5 class="app-card-title" th:text="${card.title}"></h5>
                <p class="text-white/90" th:text="${card.author}"></p>
                <a th:href="@{/admin-panel/books/update(id=${card.id})}" class="app-button-warning change-book">Изменить</a>
                <a th:href="@{/admin-panel/books/delete(id=${card.id})}" class="app-button-danger delete-book">Удалить</a>
            </div>
        </div>
    </div>
</div>

<div th:if="${!pageData.hasElements()}">
    <p class="text-center text-brand-700">Книг не найдено</p>
</div>

<nav th:if="${pageData.hasElements()}">
    <ul class="app-pagination">
        <li th:each="i : ${#numbers.sequence(0, pageData.totalPages - 1)}" class="">
            <a th:href="@{/admin-panel/books/view(searchQuery=${searchQuery}, page=${i})}"
               th:class="${i == pageData.currentPage} ? 'app-page-link-active' : 'app-page-link'"
               th:text="${i + 1}">
            </a>
        </li>
    </ul>
</nav>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>